body {
    margin: 0;
    font-family: 'Alumni Sans', sans-serif;
    background: #f5f5f5;
    color: #333;
    background-image: url("unnamed.jpg");
    background-size: cover;
    background-position: center;

}

/* HEADER */
.topbar {
  background: #242323;
  color: #fff;
  padding: 5px 15px;
  margin: 20px 30px 0 30px;
  display: flex;
  justify-content: space-between; /* left-group on left, button on right */
  align-items: center;
  border-radius: 8px;
}

.left-group {
  display: flex;          /* logo and title side by side */
  align-items: center;    /* vertically aligned */
}

.logo {
  height: 45px;
  margin-right: 10px;     /* space between logo and title */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.highlight {
  color: #32722e; /* Green color for "DLSUD" */
}

.home-button {
  background: none;       /* remove default button background */
  border: none;           /* remove border */
  cursor: pointer;        /* pointer on hover */
  padding: 0;             /* remove extra spacing */
}

.home-icon {
  height: 30px;           /* adjust size */
  width: 30px;
}

/* MAIN LAYOUT */
.container {
    display: flex;
    gap: 40px;
    margin: 0 30px;
    padding: 40px 0;
}

/* LEFT PANEL */
.controls {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.controls label {
    margin: 10px 0 5px;
}

select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #aaa;
    margin-bottom: 15px;
    background: #e6e6e6;
}

button {
    padding: 12px;
    background: #2c5e2e;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}


/* RIGHT PANEL */
.results {
    background: #dfe6dd;
    padding: 30px;
    border-radius: 15px;
    width: 550px;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results h2 {
    margin-top: 0;
    font-size: 26px;
    color: #2c5e2e;
    font-weight: bold;
}

#route {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
    color: #000;
}

#distance {
    color: #2c5e2e;
    font-weight: bold;
    font-size: 26px;
}

#totaldistance {
    color: #000000;
    font-weight: larger;
    font-size: 26px;
}
/* FOOTER */
footer {
    text-align: center;
  padding: 20px;
  color: #888;
}
