/* GLOBAL */
body {
  margin: 0;
  font-family: 'Alumni Sans', sans-serif;
  background: #f5f5f5;
  color: #333;
}

/* TOP BAR */
.topbar {
  background: #242323;
  color: #fff;
  padding: 5px 15px;
  margin: 20px 30px 0 30px;
  display: flex;
  justify-content: space-between; /* left-group on left, button on right */
  align-items: center;
  border-radius: 8px;
}

.left-group {
  display: flex;
  align-items: center;
}

.logo {
  height: 45px;
  margin-right: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.highlight {
  color: #32722e;
}

.home-button {
  background: none;       /* remove default button background */
  border: none;           /* remove border */
  cursor: pointer;        /* pointer on hover */
  padding: 0;   
}

.home-icon {
  height: 30px;
}

/* MAIN LAYOUT */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  padding: 25px;
}

/* CARD STYLE */
.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* LEFT PANEL */
.left-panel .field-label {
  display: block;
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
}

.select-box select {
  width: 100%;
  margin-top: 8px;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  font-family: inherit;
}

.buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.park-btn, .leave-btn {
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  font-family: inherit;
}

.park-btn {
  background: #006841;
  color: white;
}

.leave-btn {
  background: #b30000;
  color: white;
}

/* RIGHT PANEL */
.status-title {
  font-size: 28px;
  margin: 0 0 15px 0;
  font-weight: bold;
}

.status-area {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.status-cardW{
  background: #356037;
  width: 48%;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.status-cardE{
  background: #2E7CAC;
  width: 48%;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.color{
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight:bold;
}



/* GAUGES */
.gauge {
  width: 150px;
  height: 75px;
  margin: 0 auto 8px auto;
}

.gauge__body {
  width: 100%;
  height: 100%;
  background: #3A3A3A;
  border-radius: 150px 150px 0 0;
  overflow: hidden;
  position: relative;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #97B749;
  transform-origin: center top;
  transform: rotate(0turn);
  transition: transform 0.5s ease-in-out;
}

.gauge__cover {
  width: 110px;
  height: 55px;
  background: #356037;
  border-radius: 110px 110px 0 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
}
/* Guage Cover/Fill East */

.status-cardE .gauge__fill {
  background: #90E9EF; /* East blue */
}
.status-cardE .gauge__cover {
  background: #2E7CAC;
}


.capacity {
  font-size: 20px;
  margin: 5px 0 0 0;
  font-weight: 600;
  color: white;
}

.result {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
}

/* FOOTER */
.footer {
  text-align: center;
    padding: 20px; /* Increased padding */
    font-size: 16px; /* Slightly smaller, standard size */
    opacity: 0.6;
    color: var(--text-medium);
}
