body {
  font-family: 'Alumni Sans', sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

.topbar {
  background: #242323;
  color: #fff;
  padding: 5px 15px;
  margin: 20px 30px 0 30px;
  display: flex;
  justify-content: space-between; /* left-group on left, button on right */
  align-items: center;
  border-radius: 8px;
}

.left-group {
  display: flex;
  align-items: center;
}

.logo {
  height: 45px;
  margin-right: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.highlight {
  color: #32722e;
}

.home-button {
  background: none;       /* remove default button background */
  border: none;           /* remove border */
  cursor: pointer;        /* pointer on hover */
  padding: 0;   
}

.home-icon {
  height: 30px;
}

.container {
  padding: 30px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-section, .result-section {
  width: 45%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 12;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.checkbox-group label {
  display: block;
  margin-top: 10px;
  font-weight: normal;
}

.check-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #176d2b;
  color: white;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  width: 120px;
}

.footer {
  text-align: center;
  padding: 20px;
  color: #888;
}

.result {
  font-size: 30px;
}
.status {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.status.eligible {
  background: #e8fbe8;
  border: 2px solid #2ecc71;
}

.status.not-eligible {
  background: #fdeaea;
  border: 2px solid #e74c3c;
}

.status .icon {
  font-size: 40px;
}

.status ul {
  margin-top: 10px;
  margin-left: 50px;
}
